**Getting the data**

In [17]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

**How many records are in the dataset?**

In [ ]:
# Records count

len(data)

9704

**How many fuel types are presented in the dataset?**

In [ ]:
# Fuel types
Number_of_fuel_type = len(data.fuel_type.unique())
Number_of_fuel_type

2

In [6]:
# Missing values
# How many columns in the dataset have missing values? 

missing_values_per_column = data.isnull().sum()
columns_with_missing_values = missing_values_per_column[missing_values_per_column > 0]
columns_with_missing_values

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [18]:
#  Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?