**Q1. Pandas version**

In [2]:
import pandas as pd
import numpy as np

# What's the version of Pandas that you installed?

pd.__version__

'2.3.1'

**Getting the data**

In [6]:
# # reading data 
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
data

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

**Q2. Records count**

In [4]:
# How many records are in the dataset?

f'number of records: {len(data)}'

'number of records: 9704'

**Q3. Fuel types**

In [5]:
# How many fuel types are presented in the dataset?
f'Types of Fuel: {len(data.fuel_type.unique())}'

'Types of Fuel: 2'

**Q4. Missing values**

In [9]:
# How many columns in the dataset have missing values? 
missingValues = data.isnull().sum() > 0
f'Number of Missing columns having missing values: {len(missingValues[missingValues == True])}'

'Number of Missing columns having missing values: 4'

**Q5. Max fuel efficiency**

In [12]:
# What's the maximum fuel efficiency of cars from Asia? 

f'Maximum fuel efficiency of Asia: {data[data.origin == 'Asia'].fuel_efficiency_mpg.max()}'

'Maximum fuel efficiency of Asia: 23.759122836520497'

**Q6. Median value of horsepower**

In [ ]:
# Find the median value of horsepower column in the dataset.

f"Median value of horsepower: {data.horsepower.median()}"

'Median value of horsepower: 149.0'

In [20]:
# Next, calculate the most frequent value of the same horsepower column.
f"Most frequent value of horsepower(MODE): {data.horsepower.mode()[0]}"

'Most frequent value of horsepower(MODE): 152.0'

In [22]:
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
f"missing values in horsepower column: {data.horsepower.fillna(0).median()}"

'missing values in horsepower column: 146.0'

In [24]:
# Now, calculate the median value of horsepower once again.

f"Median value of horsepower: {data.horsepower.median()}"

'Median value of horsepower: 149.0'

**Q7. Sum of weights**

****1. Select all the cars from Asia****

In [29]:
data[data['origin'] == 'Asia']

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,NaN,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

****2. Select only columns vehicle_weight and model_year****

In [30]:
data[['vehicle_weight', 'model_year']]

      vehicle_weight  model_year
0        3413.433759        2003
1        3149.664934        2007
2        3079.038997        2018
3        2542.392402        2009
4        3460.870990        2009
...              ...         ...
9699     2981.107371        2013
9700     2439.525729        2004
9701     2583.471318        2008
9702     2905.527390        2011
9703     2908.043477        2005

[9704 rows x 2 columns]

****3. Select the first 7 values****

In [31]:
data.head(7)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,NaN,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412